html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        link(rel="icon" type="image/png" href="/img/favicon.png")
        block head
        title Natours | #{title}
    body
        include _header

        //- this block can be overidden with the extends keyword
        block content

        include _footer
        script(src='/js/bundle/index.js') 