extends base
block content
    main.main
        .signup-form#forgotPasswordForm
            h2.heading-secondary.ma-bt-lg Forgot password
            form.form
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email' placeholder='you@example.com' name='email' required)
                .form__group
                    button.btn.btn--green Send Email