extends base
block content
    main.main
        .signup-form#resetPasswordForm
            h2.heading-secondary.ma-bt-lg Reset password
            form.form
                input#email.form__input(type='hidden', name='email')
                input#token.form__input(type='hidden', name='token')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', name='password' required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', name='passwordConfirm' required, minlength='8')
                .form__group
                    button.btn.btn--green Reset Password