extends base
block content
    main.main
        .signup-form#signupForm
            h2.heading-secondary.ma-bt-lg Sign Up
            form.form
                .form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='name' placeholder='FirstName LastName' name='name' required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email' placeholder='you@example.com' name='email' required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', name='password' required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', name='passwordConfirm' required, minlength='8')
                .form__group
                    button.btn.btn--green Sign Up